[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
prefect = "*"
prefect-gcp = {extras = ["cloud_storage"], version = "*"}
google-cloud-dataproc = "*"
google = {cloud = "*"}
isort = "*"

[dev-packages]
ipykernel = "*"
pre-commit = "*"
pylint = "*"

[requires]
python_version = "3.9"
